<footer>
    <section class="redes-sociales">
        <h2>¡SÍGUENOS EN NUESTRAS REDES!</h2>
        <div class="caja">
            <a href="https://www.instagram.com/hop_up_store/" target="_blank" class="red instagram"><i class="fab fa-instagram"></i></a>
            <a href="https://twitter.com/HopUpStore" target="_blank" class="red twitter"><i class="fab fa-twitter"></i></a>
            <a href="https://www.youtube.com/@HOPUP-STORE" target="_blank" class="red youtube"><i class="fab fa-youtube"></i></a>
            <a href="https://www.tiktok.com/@hopup.store" target="_blank" class="red tiktok"><i class="fab fa-tiktok"></i></a>
        </div>        
    </section>
    <section class="legal">
        <p>- HOP UP -</p>
    </section>
</footer>


<script src="./js/general.js"></script>

</body>
</html>
