<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;0,700;0,900;1,100;1,300;1,400;1,600;1,700;1,900&family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />

    <!-- <script src="https://kit.fontawesome.com/0857b7c916.js" crossorigin="anonymous"></script> -->

    <link rel="stylesheet" href="/css/index.css">
    
    <title>Beta Hop Up</title>
    <!-- <meta name="description" content="<?php echo get_bloginfo('description') ?>"> -->
    <meta name="author" content="RCR97">
    <link rel="shorcut icon" href="./img/Icono_Hop_Up.ico" type="image/x-icon">
</head>
<body>
<header>
    <a class="contenedor-logo" href="/">
        <img src="./img/Hop_Up_Beta_WEB.png"  alt="Hop Up Logo">
    </a>
</header>